winemag-data-130k-v2.csv 파일을 reviews 로 읽는다.

In [1]:
import pandas as pd

In [4]:
reviews = pd.read_csv('winemag-data.csv', index_col=0)

In [5]:
reviews.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

리뷰 데이터프레임에서 points 컬럼의  median 값은?

In [6]:
reviews.points.median()

88.0

In [7]:
reviews.points.mean()

88.44713820775404

나라를 중복되지 않도록 가져와서 countries 변수에 저장하고, 화면에 출력하시오.

In [9]:
countries =  reviews.country.unique()

In [10]:
print(countries)

['Italy' 'Portugal' 'US' 'Spain' 'France' 'Germany' 'Argentina' 'Chile'
 'Australia' 'Austria' 'South Africa' 'New Zealand' 'Israel' 'Hungary'
 'Greece' 'Romania' 'Mexico' 'Canada' nan 'Turkey' 'Czech Republic'
 'Slovenia' 'Luxembourg' 'Croatia' 'Georgia' 'Uruguay' 'England' 'Lebanon'
 'Serbia' 'Brazil' 'Moldova' 'Morocco' 'Peru' 'India' 'Bulgaria' 'Cyprus'
 'Armenia' 'Switzerland' 'Bosnia and Herzegovina' 'Ukraine' 'Slovakia'
 'Macedonia' 'China' 'Egypt']

In [11]:
len(countries)

44

각 국가별로는 몇개의 리뷰가 있는지, 각국가별 리뷰수를 구하시오.

In [12]:
reviews.country.value_counts()

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Macedonia                    12
Serbia                       12
Czech Republic               12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Armenia                       2
Bosnia and Herzegovina        2
China                         1
Slovakia                      1
Egypt                         1
Name: country, dtype: int64

리뷰 데이터프레임의 price 컬럼 값에서, price의 평균값을 뺀 값을, centered_price 라고 저장하시오.

In [13]:
reviews.price.mean()

35.363389129985535

In [16]:
centered_price  = reviews.price - reviews.price.mean()

In [18]:
expensive = reviews.loc[ centered_price > 0   ,   ]

In [19]:
expensive.shape

(39743, 13)

In [20]:
reviews.shape

(129971, 13)

나는 경제적이므로, 가격대비 포인트가 가장 큰 와인을 사려한다. 해당 와인의 title은?

In [27]:
reviews.points / reviews.price

0              NaN
1         5.800000
2         6.214286
3         6.692308
4         1.338462
            ...
129966    3.214286
129967    1.200000
129968    3.000000
129969    2.812500
129970    4.285714
Length: 129971, dtype: float64

In [25]:
(reviews.points / reviews.price).max()

21.5

In [26]:
reviews['eco'] = reviews.points / reviews.price

In [29]:
reviews.eco.max()

21.5

In [31]:
reviews.eco == reviews.eco.max()

0         False
1         False
2         False
3         False
4         False
          ...
129966    False
129967    False
129968    False
129969    False
129970    False
Name: eco, Length: 129971, dtype: bool

In [33]:
reviews.loc[  reviews.eco == reviews.eco.max()  , 'title'  ]

64590                         Bandit NV Merlot (California)
126096    Cramele Recas 2011 UnWineD Pinot Grigio (Viile...
Name: title, dtype: object

In [35]:
reviews.eco.idxmax()

64590

In [36]:
reviews.loc[reviews.eco.idxmax(), 'title' ]

'Bandit NV Merlot (California)'

사람들이 어떤와인을 더 많이 거론했는지 보려한다.

"tropical" 이 들어있는 리뷰의 갯수를 세고, "fruity" 라고 들어있는 리뷰의 갯수를 세어서

판다스 시리즈로 descriptor_counts 변수로 만들어 보자.

In [39]:
reviews.description[1]

"This is ripe and fruity, a wine that is smooth while still structured. Firm tannins are filled out with juicy red berry fruits and freshened with acidity. It's  already drinkable, although it will certainly be better from 2016."

In [45]:
n_trop = reviews.description.map(lambda x : 'tropical' in x ).sum()

In [47]:
n_fruity = reviews.description.map(lambda x : 'fruity' in x).sum()

In [48]:
pd.Series( [n_trop, n_fruity], index=['tropical', 'fruity'] )

tropical    3607
fruity      9090
dtype: int64

별점 시스템을 만들려고 한다. 따라서 별점에 대한 데이터가 필요하다.

별점은 1,2,3 즉 3개로 만들것이다.

포인트가 95점 이상이면 3점, 85점 이상이면 2점, 나머지는 1점으로 할 것이다. 

리뷰데이터를 통해 각 데이터의 별점을 구하시오.

In [51]:
def stars(point):
    if point >= 95 : 
        return 3
    elif point >= 85 :
        return 2
    else :
        return 1

In [56]:
reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery', 'eco'],
      dtype='object')

In [57]:
reviews['ratings'] = reviews.points.apply(stars)

In [58]:
reviews.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,eco,ratings
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN,2
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.8,2

리뷰의 region_2 컬럼에 데이터가 비어있는 경우에는, 'Unknown'으로 셋팅하자.

In [60]:
reviews.region_2.fillna('Unknown', inplace=True)

In [61]:
reviews.isnull().sum()

country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                     0
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
eco                       8996
ratings                      0
dtype: int64

In [62]:
reviews.loc[ reviews.region_2 == 'Unknown', ]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,eco,ratings
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,Unknown,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN,2
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,Unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.800000,2
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,Unknown,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,6.692308,2
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,Unknown,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem,5.800000,2
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,Unknown,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo,5.437500,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129965,France,"While it's rich, this beautiful dry wine also ...",Seppi Landmann Vallée Noble,90,28.0,Alsace,Alsace,Unknown,Roger Voss,@vossroger,Domaine Rieflé-Landmann 2013 Seppi Landmann Va...,Pinot Gris,Domaine Rieflé-Landmann,3.214286,2
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,Unknown,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef),3.214286,2
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,Unknown,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser,3.000000,2
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,Unknown,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,2.812500,2
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,Unknown,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,4.285714,2

In [63]:
# 국가와 지역으로 그루핑하고,포인트를 가장 많이 받은 데이터를 보여주세요.

In [65]:
reviews.groupby(['country', 'province']).points.max()

country    province
Argentina  Mendoza Province    97
           Other               95
Armenia    Armenia             88
Australia  Australia Other     93
           New South Wales     94
                               ..
Uruguay    Juanico             90
           Montevideo          91
           Progreso            90
           San Jose            87
           Uruguay             91
Name: points, Length: 425, dtype: int64

In [66]:
# 포인트로 그룹바이 하고, 각 포인트별로 가격의 최소값을 보여주세요.

In [67]:
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
82      4.0
83      4.0
84      4.0
85      4.0
86      4.0
87      5.0
88      6.0
89      7.0
90      8.0
91      7.0
92     11.0
93     12.0
94     13.0
95     20.0
96     20.0
97     35.0
98     50.0
99     44.0
100    80.0
Name: price, dtype: float64

In [69]:
# 국가별로 그루핑하고, 국가별 데이터 갯수, 프라이스 최소, 최대값을 한번에 보여주세요.

In [72]:
import numpy as np

In [73]:
reviews.groupby(['country']).price.agg( [len, min, max, np.mean] )

                            len   min     max       mean
country
Argentina                3800.0   4.0   230.0  24.510117
Armenia                     2.0  14.0    15.0  14.500000
Australia                2329.0   5.0   850.0  35.437663
Austria                  3345.0   7.0  1100.0  30.762772
Bosnia and Herzegovina      2.0  12.0    13.0  12.500000
Brazil                     52.0  10.0    60.0  23.765957
Bulgaria                  141.0   8.0   100.0  14.645390
Canada                    257.0  12.0   120.0  35.712598
Chile                    4472.0   5.0   400.0  20.786458
China                       1.0  18.0    18.0  18.000000
Croatia                    73.0  12.0    65.0  25.450704
Cyprus                     11.0  11.0    21.0  16.272727
Czech Republic             12.0  15.0    45.0  24.250000
Egypt                       1.0   NaN     NaN        NaN
England                    74.0  25.0    95.0  51.681159
France                  22093.0   5.0  3300.0  41.139120
Georgia                    86.0   9.0    40.0  19.321429
Germany                  2165.0   5.0   775.0  42.257547
Greece                    466.0   8.0    79.0  22.364425
Hungary                   146.0  10.0   764.0  40.648276
India                       9.0  10.0    20.0  13.333333
Israel                    505.0   8.0   150.0  31.768916
Italy                   19540.0   5.0   900.0  39.663770
Lebanon                    35.0  13.0    75.0  30.685714
Luxembourg                  6.0  16.0    30.0  23.333333
Macedonia                  12.0  15.0    20.0  15.583333
Mexico                     70.0   8.0   108.0  26.785714
Moldova                    59.0   8.0    42.0  16.745763
Morocco                    28.0  14.0    40.0  19.500000
New Zealand              1419.0   7.0   130.0  26.931785
Peru                       16.0  10.0    68.0  18.062500
Portugal                 5691.0   5.0  1000.0  26.218256
Romania                   120.0   4.0   320.0  15.241667
Serbia                     12.0  15.0    42.0  24.500000
Slovakia                    1.0  16.0    16.0  16.000000
Slovenia                   87.0   7.0    90.0  24.812500
South Africa             1401.0   5.0   330.0  24.668987
Spain                    6645.0   4.0   770.0  28.215275
Switzerland                 7.0  21.0   160.0  85.285714
Turkey                     90.0  14.0   120.0  24.633333
US                      54504.0   4.0  2013.0  36.573464
Ukraine                    14.0   6.0    13.0   9.214286
Uruguay                   109.0  10.0   130.0  26.403670

In [74]:
reviews.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,eco,ratings
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,Unknown,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN,2
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,Unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.8,2

In [76]:
reviews['len'] = reviews.description.apply(len)

In [77]:
reviews.sort_values(by = ['country', 'len'])

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,eco,ratings,len
103991,Argentina,"Way too much banana, mango and sugar. Not a pr...",NaN,80,10.0,Mendoza Province,NaN,Unknown,Michael Schachner,@wineschach,Alfredo Roca 2006 Chardonnay,Chardonnay,Alfredo Roca,8.000000,1,62
79094,Argentina,"Full and overly chunky, but ultimately off-kil...",Wizard,80,10.0,Mendoza Province,Mendoza,Unknown,Michael Schachner,@wineschach,Hat in the Ring 2007 Wizard Pinot Grigio (Mend...,Pinot Grigio,Hat in the Ring,8.000000,1,71
23430,Argentina,"Vaguely floral aromas precede a sweet, cloying...",NaN,81,8.0,Mendoza Province,Mendoza,Unknown,Michael Schachner,@wineschach,Region 1 2013 Moscato (Mendoza),Moscato,Region 1,10.125000,1,74
117256,Argentina,Odd aromas of bath soap and cherry feed into a...,Alto Limay Select,82,30.0,Other,Patagonia,Unknown,Michael Schachner,@wineschach,Familia Schroeder 2012 Alto Limay Select Pinot...,Pinot Noir,Familia Schroeder,2.733333,1,78
23432,Argentina,"Soapy, funky aromas feel unfocused, with bland...",NaN,81,13.0,Mendoza Province,Mendoza,Unknown,Michael Schachner,@wineschach,Tres Exilios 2013 Torrontés (Mendoza),Torrontés,Tres Exilios,6.230769,1,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129590,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,Unknown,Mike DeSimone,@worldwineguys,Büyülübağ 2012 Shah Red,Red Blend,Büyülübağ,3.000000,2,385
59670,NaN,The heady florality of damask rose is joined b...,Steintal,92,38.0,NaN,NaN,Unknown,Anne Krebiehl MW,@AnneInVino,Neumeister 2015 Steintal Roter Traminer,Roter Traminer,Neumeister,2.421053,2,389
46352,NaN,"A dark color and rich, jammy, baked aromas of ...",Catalina,91,50.0,NaN,NaN,Unknown,Michael Schachner,@wineschach,Santa Ema 2014 Catalina Red,Red Blend,Santa Ema,1.820000,2,392
16749,NaN,Winemaker: Bartho Eksteen. This wooded Sauvy s...,Cape Winemakers Guild Vloekskoot Wooded,91,NaN,NaN,NaN,Unknown,Lauren Buzzeo,@laurbuzz,Bartho Eksteen 2016 Cape Winemakers Guild Vloe...,Sauvignon Blanc,Bartho Eksteen,NaN,2,407
57612,NaN,Winemaker: Gordon Newton Johnson. This is such...,Cape Winemakers Guild Windansea,92,NaN,NaN,NaN,Unknown,Lauren Buzzeo,@laurbuzz,Newton Johnson 2016 Cape Winemakers Guild Wind...,Pinot Noir,Newton Johnson,NaN,2,601