# PYTHON PROGRAMMING FUNDAMENTALS
# TUPLES AND SETS

# TUPLES 

- Immutable Python objects. 
- 튜플은 시퀀스, 즉 순서가 있습니다. 
- 튜플은 괄호 ( ) 를 사용합니다.

In [1]:
a = 'Hello'

In [3]:
a[0] = 'K'

TypeError: 'str' object does not support item assignment

In [4]:
b = ['H','e','l','l','o']

In [5]:
b[0] = 'K'

In [6]:
b

['K', 'e', 'l', 'l', 'o']

In [8]:
my_tuple = ('H', 'e', 'l','l','o')

In [9]:
my_tuple[1]

'e'

In [11]:
b

['K', 'e', 'l', 'l', 'o']

In [10]:
b[1]

'e'

In [12]:
my_tuple[-1] = 'x'

TypeError: 'tuple' object does not support item assignment

In [13]:
b[-1] = 'x'

In [14]:
b

['K', 'e', 'l', 'l', 'x']

In [15]:
my_list = list(my_tuple)

In [16]:
my_list

['H', 'e', 'l', 'l', 'o']

In [17]:
my_list[-1] = 'x'

In [18]:
my_tuple = tuple(my_list)

In [19]:
my_tuple

('H', 'e', 'l', 'l', 'x')

# SETS
- 셋에 들어있는 데이터는 순서가 없습니다.
- 셋에는 동일한 값이 저장되지 않습니다. 우리가 배웠던 집합과 같습니다. 
- 셋은 중괄호 { } 로 정의합니다.

In [20]:
c = [ 1, 3, 5, 2, 1, 3, 7, 1]

In [21]:
my_set = { 1, 3, 5, 2, 1, 3, 7, 1 }

In [22]:
my_set

{1, 2, 3, 5, 7}

In [24]:
A = {0,2,4,6,8}

In [25]:
B = {1,2,3,4,5}

In [26]:
A | B

{0, 1, 2, 3, 4, 5, 6, 8}

In [27]:
A & B

{2, 4}

In [28]:
A - B

{0, 6, 8}

In [29]:
A.add(10)

In [30]:
A

{0, 2, 4, 6, 8, 10}

In [31]:
A.update([8,9,10,11])

In [32]:
A

{0, 2, 4, 6, 8, 9, 10, 11}

In [33]:
A.discard(11)

In [34]:
A

{0, 2, 4, 6, 8, 9, 10}

In [35]:
page_view= [1, 5, 7, 3, 9, 11, 1, 3, 7, 65, 3, 6,1, 22, 5, 5, 5, 5,5 ,5, 5, 5, 5]

In [36]:
len(page_view)

23

In [37]:
unique_users = set(page_view)

In [38]:
unique_users

{1, 3, 5, 6, 7, 9, 11, 22, 65}

In [39]:
len(unique_users)

9