# <font color='red'> *실습* </font> 
# <font color='red'> SETS AND TUPLES </font>

# <font color='blue'> 1. 다음처럼 출력하세요. Hello Chanel, you are 26 years old!

In [1]:
my_tuple = ("Chanel", 26)

In [2]:
'Hello {}, you are {} years old!'.format(my_tuple[0], my_tuple[1])

'Hello Chanel, you are 26 years old!'

# <font color='blue'> 2. 다음과 같은 튜플이 있습니다. (1) 모든 튜플 출력, (2) 마지막 값 출력, (2) 첫번째와 두번째 값 출력

In [3]:
my_tuple = ("chanel", "mitch", "sarah", "cynthia", "diane", "steeve")

In [4]:
my_tuple

('chanel', 'mitch', 'sarah', 'cynthia', 'diane', 'steeve')

In [5]:
my_tuple[:]

('chanel', 'mitch', 'sarah', 'cynthia', 'diane', 'steeve')

In [6]:
my_tuple[-1]

'steeve'

In [8]:
my_tuple[0:2]

('chanel', 'mitch')

#  <font color='blue'> 3. 다음과 같은 튜플이 있습니다. (1) 길이를 구하세요. (2) 타입을 확인하세요.

In [9]:
my_tuple = ("Ryan", "ahmed", 25)

In [10]:
len(my_tuple)

3

In [11]:
type(my_tuple)

tuple

# <font color='blue'> 4. (1) "40"을 출력하세요, (2) "world"를 출력하세요, (3) 25 를 출력하세요, (4) 두번째 요소로 저장되어 있는 리스트를 출력하세요,(5) 맨 마지막 요소인 튜플을 출력하세요

In [13]:
my_tuple = ("hello", [87, 40, 60], "world", (10, 25, 30))

In [15]:
my_tuple[1][1]

40

In [16]:
my_tuple[2]

'world'

In [18]:
my_tuple[3][1]

25

In [19]:
my_tuple[1]

[87, 40, 60]

In [20]:
my_tuple[-1]

(10, 25, 30)

# <font color='blue'> 5. (1) python 이 들어 있는지 확인하세요. (2) Python 이 들어 있는지 확인하세요. (3) physics 가 없는지 확인하세요.

In [21]:
my_tuple = ('math','science','science','python','english')

In [22]:
my_tuple.count('python')

1

In [23]:
my_tuple.count('Python')

0

In [24]:
my_tuple.count('physics')

0

In [25]:
my_tuple.index('physics')

ValueError: tuple.index(x): x not in tuple

# <font color='blue'> 6. my_list에는 동일한 값들이 들어있습니다. 동일한 값들을 제거하여, 유니크한 값들의 리스트로 만드세요.  </font>

In [27]:
my_list = ["2", 50, "2", 50, 4, 6, 9, 9]

In [28]:
my_set = set(my_list)

In [29]:
my_set

{'2', 4, 50, 6, 9}

In [30]:
my_list = list(my_set)

In [31]:
my_list

[4, 6, 9, 50, '2']

#  <font color='blue'> 9. 자신의 이름을 추가하세요. 그리고 출력하세요.

In [32]:
my_set = {"sara", "mike", "jon", "jon", "mike"}

In [33]:
my_set.add("홍길동")

In [34]:
my_set

{'jon', 'mike', 'sara', '홍길동'}