# PROBLEM STATEMENT

### 자동차 영업사원입니다. 다음과 같은 피처를 가지고 있는 데이터셋이 있습니다. 어떠한 고객이, 자동차 구매에 얼마를 지불할 것인지를 예측하여, 차를 추천하여 팔려고 합니다. 즉, 자동차 구매 금액을 예측하는 시스템을 만듭니다.

데이터의 컬럼
- Customer Name
- Customer e-mail
- Country
- Gender
- Age
- Annual Salary 
- Credit Card Debt 
- Net Worth 

예측하려는 모델 : 
- Car Purchase Amount

# STEP #0: LIBRARIES IMPORT

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# STEP #1: IMPORT DATASET

### 'Car_Purchasing_Data.csv' 파일을 encoding='ISO-8859-1' 으로하여 데이터를 읽는다

# STEP #2: VISUALIZE DATASET

# STEP #3: Data Preprocessing

# STEP#4: TRAINING THE MODEL

### 리그레션이기 때문에, 아웃풋 레이어의 액티베이션 함수는 activation='linear' 으로 한다.

In [35]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

# STEP#5: EVALUATING THE MODEL

# STEP#6: 새로운 데이터를 하나 만들고, 직접 예측 해 본다

In [61]:
car_df.head()

,Customer Name,Customer e-mail,Country,Gender,Age,Annual Salary,Credit Card Debt,Net Worth,Car Purchase Amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248

In [62]:
new_data = np.array(  [   
                          [1, 38, 90000, 2000, 500000 ]
                        ]   )