In [1]:
df = pd.read_csv('seoul.csv', encoding = 'cp949')

NameError: name 'pd' is not defined

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [ ]:
df = pd.read_csv('seoul.csv', encoding = 'cp949')

In [ ]:
df

In [ ]:
df_tem_max = df['최고기온(℃)'] == df['최고기온(℃)'].max()
df_tem_max

In [ ]:
df.shape

In [ ]:
df.min()

In [ ]:
bin_width = np.arange(-25, 45+4, 4)

In [ ]:
bin_width

In [ ]:
plt.hist(data=df, x='최고기온(℃)', bins = bin_width, rwidth = 0.8)
plt.show()

In [ ]:
df.head()

In [ ]:
df['날짜'] == '2017-08-01'
df['날짜']

In [ ]:
first_index = df.loc[df['날짜'] == '2017-08-01', ] # 여기서 인덱스 번호 구하기

In [ ]:
first_index

In [ ]:
first_index = df.loc[df['날짜'] == '2017-08-01', ].index[0]

In [ ]:
last_index = df.loc[df['날짜']=='2017-08-15', ].index[0]

In [ ]:
df2 = df.loc[first_index : last_index +1, ]

In [ ]:
df2

In [ ]:
plt.scatter(data = df2, x='날짜', y='최고기온(℃)')
plt.xticks(rotation = 45)
plt.show()

In [ ]:
df_age = pd.read_csv('age.csv' , encoding='cp949' )

In [ ]:
df_age.head()

In [ ]:
df_age.describe()

In [ ]:
df_age.info()

In [ ]:
df_age = pd.read_csv('age.csv', encoding='cp949', thousands=',')

In [ ]:
df_age.describe()

In [ ]:
df_age['행정구역'].str.contains('삼청동')

In [ ]:
df_age.head()

In [ ]:
df_age.describe()

In [ ]:
x = np.arange(0, 100+1)

In [ ]:
x

In [ ]:
df2 = df_age.loc[ df_age['행정구역'].str.contains['금천구'], ]

In [ ]:
y = df2.

In [ ]:
plt.plot(x,y)
plt.xlabel('나이')
plt.ylabel('인구수')
plt.show()

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [16]:
df = pd.read_csv('subwayfee.csv', encoding='cp949')

In [17]:
df.head()

       사용월  호선명  역ID  지하철역     유임승차     유임하차    무임승차    무임하차
0  2019-01  1호선  150   서울역  1516452  1400464  221180  211764
1  2019-01  1호선  151    시청   676932   676266  102388  101033
2  2019-01  1호선  152    종각  1240810  1177643  162410  152062
3  2019-01  1호선  153  종로3가   703110   674148  387062  362735
4  2019-01  1호선  154  종로5가   571824   583955  275447  263687

In [10]:
df = df['유임승차'] == df['유임승차'].max()

In [18]:
df.loc[ df['유임승차'] == df['유임승차'].max(), ]

        사용월  호선명  역ID 지하철역     유임승차     유임하차    무임승차    무임하차
31  2019-01  2호선  222   강남  3153418  3210437  186486  167666

In [19]:
df.loc[ df['유임승차'] == df['유임승차'].max(), ]

        사용월  호선명  역ID 지하철역     유임승차     유임하차    무임승차    무임하차
31  2019-01  2호선  222   강남  3153418  3210437  186486  167666

In [20]:
df.loc[ df['무임승차'] == df['무임승차'].max(), ]

       사용월  호선명  역ID  지하철역    유임승차    유임하차    무임승차    무임하차
3  2019-01  1호선  153  종로3가  703110  674148  387062  362735

In [21]:
df.loc[ df['유임하차'] == df['유임하차'].max(), ]

        사용월  호선명  역ID 지하철역     유임승차     유임하차    무임승차    무임하차
31  2019-01  2호선  222   강남  3153418  3210437  186486  167666

In [22]:
df.loc[ df['무임하차'] == df['무임하차'].max(), ]

       사용월  호선명  역ID 지하철역    유임승차    유임하차    무임승차    무임하차
7  2019-01  1호선  157  제기동  293540  288217  374571  400607

In [28]:
df['rate'] = df['유임승차'] / df['무임승차']

In [29]:
df.head()

       사용월  호선명  역ID  지하철역     유임승차     유임하차    무임승차    무임하차      rate
0  2019-01  1호선  150   서울역  1516452  1400464  221180  211764  6.856190
1  2019-01  1호선  151    시청   676932   676266  102388  101033  6.611439
2  2019-01  1호선  152    종각  1240810  1177643  162410  152062  7.639985
3  2019-01  1호선  153  종로3가   703110   674148  387062  362735  1.816531
4  2019-01  1호선  154  종로5가   571824   583955  275447  263687  2.075986

In [30]:
new_df = df.loc[ df['무임승차'] != 0 ,]

In [32]:
new_df.describe()

,역ID,유임승차,유임하차,무임승차,무임하차,rate
count,590.000000,5.900000e+02,5.900000e+02,590.000000,590.000000,590.000000
mean,1885.394915,3.158564e+05,3.149349e+05,60157.005085,59469.084746,5.363738
std,1181.076487,3.445062e+05,3.506429e+05,53047.779358,52798.215686,3.191379
min,150.000000,2.500000e+01,0.000000e+00,2.000000,0.000000,0.774979
25%,1030.500000,9.825225e+04,9.515825e+04,24433.250000,24147.000000,3.344340
50%,1813.500000,2.178550e+05,2.156905e+05,46129.000000,45542.000000,4.482129
75%,2633.750000,4.125940e+05,4.124012e+05,78681.250000,76705.000000,6.654403
max,4713.000000,3.153418e+06,3.210437e+06,387062.000000,400607.000000,27.500000

In [33]:
# 한글 찍기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

In [34]:
df

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,rate
0,2019-01,1호선,150,서울역,1516452,1400464,221180,211764,6.856190
1,2019-01,1호선,151,시청,676932,676266,102388,101033,6.611439
2,2019-01,1호선,152,종각,1240810,1177643,162410,152062,7.639985
3,2019-01,1호선,153,종로3가,703110,674148,387062,362735,1.816531
4,2019-01,1호선,154,종로5가,571824,583955,275447,263687,2.075986
...,...,...,...,...,...,...,...,...,...
593,2019-01,우이신설선,4709,북한산보국문,131839,117790,40396,40629,3.263665
594,2019-01,우이신설선,4710,정릉,83527,73090,43457,41092,1.922061
595,2019-01,우이신설선,4711,성신여대입구(돈암),77040,89799,31555,29648,2.441451
596,2019-01,우이신설선,4712,보문,31502,32724,15900,16109,1.981258
597,2019-01,우이신설선,4713,신설동,37248,40743,19037,17418,1.956611

In [38]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [39]:
dataset = pd.read_csv('Salary_Data.csv')

FileNotFoundError: [Errno 2] File Salary_Data.csv does not exist: 'Salary_Data.csv'